@model ProyectoPrograAvanzada.Models.TEmpleado

@{
    ViewData["Title"] = "Create";
}

<h1>Crear</h1>

<h4>Empleados</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label class="control-label">Nombre del Empleado</label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Correo</label>
                <input asp-for="Correo" class="form-control" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Teléfono</label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Contraseña</label>
                <input asp-for="Contrasena" class="form-control" />
                <span asp-validation-for="Contrasena" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Puesto del Empleado</label>
                <input asp-for="Puesto" class="form-control" />
                <span asp-validation-for="Puesto" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Sucursal</label>
                <select asp-for="IdSucursal" class="form-control" asp-items="ViewBag.IdSucursal"></select>
                <span asp-validation-for="IdSucursal" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Rol del Usuario</label>
                <select asp-for="IdRol" class="form-control" asp-items="ViewBag.IdRol"></select>
                <span asp-validation-for="IdRol" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
